*.obj
*.sublime-project
*.sublime-workspace
Core
Engine
GameFramework
GFxUI
GFxUIEditor
IpDrv
MyMod
OnlineSubsystemGameCenter
OnlineSubsystemPC
OnlineSubsystemSteamworks
SubstanceAir
SubstanceAirEd
UDKBase
UnrealEd
UTEditor
UTGame
UTGameContent
WinDrv